<h2 class="acrofont centerall">Edit <%= current_user.username %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <div class="centerall">
    <%= devise_error_messages! %>
  </div>

  <div class="small-2 centerall"><%= f.label :username %>
      <%= f.text_field :username, :autofocus => true %></div>

  <div class="small-3 centerall"><%= f.label :email %>
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="centerall">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="small-3 centerall"><%= f.label :password, "New Password" %> <i style="font-size:.7em">(leave blank if you don't want to change it)</i>
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div class="small-3 centerall"><%= f.label :password_confirmation, "New Password confirmation" %>
  <%= f.password_field :password_confirmation %></div>

  <fieldset class="small-5 centerall">
    <legend>Optional Information</legend>
      <div class="small-10 centerall"><%= f.label :avatar, "Your avatar" %>
        <%= image_tag current_user.avatar.url(:small), :style => "border: 1px solid gray; margin-bottom:12px;" %>
      </div>
      <div class="small-5 centerall"><%= f.label :avatar, "Upload new avatar:" %></div>
      <div class="small-10 columns small-centered" style="margin-top:12px">
        <%= f.file_field :avatar %>
      </div>
      <div class="small-5 centerall"><%= f.label :location, "Your city" %>
      <%= f.text_field :location %></div>
      <div class="small-8 centerall"><%= f.label :dateofbirth, "Date of birth" %>
        <%= f.date_select :dateofbirth, {:start_year => 1900, :end_year => Time.now.year - 6, :order => [:month, :day, :year], :default => { month: 1, day: 1, year: 1980 } }, {:class => "row"} %>
      </div><br/>
      <div class="small-10 centerall"><%= f.label :about, "About yourself" %>
      <%= f.text_area :about, :size => "30x30" %></div>
      <div class="countdown centerall"></div>
  </fieldset>

<div class="small-3 centerall" style="margin-top:20px"><%= f.label :current_password, :style => "color:red;" %> <i style="font-size:.7em; color: red;">(we need your current password to confirm your changes)</i>
  <%= f.password_field :current_password %></div>

  <div class="large-2 centerall" style="margin-top:12px"><%= f.submit "Update", :class => "button" %></div>

<% end %>
<div class="centerall">
  <%= link_to "Back", :back %>
</div>
<h4 style="text-align:right; margin-right:40px">Delete my account</h4>

<p style="text-align:right; margin-right:40px; font-size:.8em">Leave the party forever? <%= button_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "button tiny alert round", :style => "float:right; margin-right:40px" %></p>
