<center>
  <h2>Sign uppppp</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <fieldset class="small-4">
      <legend>Required</legend>
        <div class="small-8"><%= f.label :username %>
        <%= f.text_field :username, :autofocus => true %></div>

        <div class="small-10"><%= f.label :email %>
        <%= f.email_field :email %></div>

        <div class="small-10"><%= f.label :password %>
        <%= f.password_field :password %></div>

        <div class="small-10"><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div>
    </fieldset><br/>
    <fieldset class="small-5">
      <legend>Optional</legend>
        <div class="small-5"><%= f.label :location, "Your city" %>
        <%= f.text_field :location %></div>
        <div class="small-8"><%= f.label :dateofbirth, "Date of birth" %>
          <%= f.date_select :dateofbirth, {:start_year => 1900, :end_year => Time.now.year - 6, :order => [:month, :day, :year], :default => { month: 1, day: 1, year: 1980 } }, {:class => "row"} %>
        </div><br/>
        <div class="small-10"><%= f.label :about, "About yourself" %>
        <%= f.text_area :about, :size => "30x30" %></div>
        <div class="countdown"></div>
    </fieldset>
    <div class="large-2"><%= f.submit "Sign up", :class => "button middle" %></div>

  <% end %>

  <%= render "devise/shared/links" %>
</center>
