<!-- <body class="famroombg"> -->
<%= subscribe_to "/messages/familyroom" %>
<%= subscribe_to "/familyroom/game" %>

<script>
setInterval(function() {
  $("#userlistbox").load("/room/familyroom #userlistbox");
}, 5000 );

function userLeaves(){
  $.ajax({
    url: "/room/destroyplayer",
    type: "delete"
  });
}

$(window).on('beforeunload', function () {
  userLeaves()
});

var currentTime = new Date();
var utcOffset = currentTime.getTimezoneOffset();
document.cookie = 'time_zone_offset='+utcOffset+';';
</script>

<div class="row">
  <div class="small-6 columns centerall">
    <h2 id="roundtext"></h2>
  </div>
  <h2><div id="timertext" class="small-6 columns centerall">

  </div></h2>
</div>

<div class="row">
  <div id="votediv" class="small-12 columns animated flip" style="display: inline; font-size:110%;">
    <% @famroomanswersminusplayer.shuffle.each do |answer| %>
      <div style="float: left; font-size:70%; margin-right:4px;">
        <%= button_to "Vote", {:controller => "room", :action => "votefor", :id => answer.id, :method => "put"}, :class => "votebuttons", remote: true %>
      </div>
      "<%= answer.answer %>"
    </br></br>
    <% end %>
    Yours: "<%= @noownvote %>"
  </div>
</div>

<div class="row">
  <div id="resultsdiv" class="small-12 columns centerall animated fadeIn" style="font-size:100%;">
    <div id="roundwinnerannounce" class="small-12 columns centerall">
      Winner, <%= @roundwinner.username %>! <%= image_tag @roundwinner.avatar.url(:small) %> <%= @bonuspointsshow %> bonus points!</br>
    </div>
    <% Famroomanswer.order('points DESC').each do |answer| %>
    <li class="answerresultinfo" style="float:center; font-size:85%; margin-right:4px; display:none;">
        <%= answer.points %> votes for <%= answer.user.username %>:
        "<%= answer.answer %>" (<%= answer.answertime %>s)</li>
      </br>
    <% end %>
    <p id="fastestanswer" class="centerall" style="display:none;">
      Fastest answer with at least one vote: <%= @fastestanswer.username %> (+2 points!)
    </p>
    <p id="winninganswervoters" class="centerall" style="display:none;">
      Voted for the winning answer:
      <% @winninganswervoters.each do |psychic| %>
      <%= psychic.username %>,
      <% end %>
      (+1 point!)
    </p>
    <p id="nonvoters" class="centerall" style="display:none;">
      Nonvoters (tsk, tsk):
      <font color="red"><% @nonvoters.each do |non| %>
      <%= non.username %>,
      <% end %>
      (No points)
    </p>
    <% if @playerlist.count == 1 %>
      (Non-scoring practice round with under 3 players)</font>
    <% end %>
  </div>
</div>

<div class="row">
  <div id="endofgamediv" class="small-12 columns centerall animated fadeIn" style="text-align:center; font-size:110%;">
      Congratulations, <%= @gamewinner.username %> with <%= @gamewinner.gamepoints %> points! </br></br>
      <%= image_tag @gamewinner.avatar.url(:small) %></br></br>
      You've now won <%= @gamewinner.gameswon %> games! </br></br>
      Next game coming right up...
  </div>
</div>

<div class="row">
  <div class="small-4 columns centerall">
    <p id="submittedtext" style="height:16px; margin-top:14px;">Answers Submitted: <%= Famroomanswer.count %></p>
  </div>
  <h3><div id="categorytext" class="small-4 columns centerall">
  </div></h3>
  <div class="small-4 columns centerall">
    <p id="acceptedtext" style="font-size:120%; color:green; height:16px;">Answer Accepted (<%= @submissiontime %>s)
    </p>
  </div>
</div>

<div class="row">
  <div class="small-10 small-centered acrotable acrofont centerall">

    <p id="acroletters" class="verticalcenter" style="font-size:340%; margin-top:-28px; margin-bottom:40px;">
      </p>
  </div>
</div>

<div id="answerformdiv" class="row">
  <%= form_for Famroomanswer.new, :html => {:id => "answerform"}, remote: true do |a| %>
    <div id="answerfield" class="small-8 small-centered columns centerall">
      <%= a.hidden_field :user_id, :value => current_user.id %>
      <%= a.hidden_field :round, :id => "answerroundnumber" %>
      <%= a.hidden_field :roundstarted, :id => "answerroundstarted" %>
      <%= a.hidden_field :category, :id => "answercategory" %>
      <%= a.hidden_field :acroletters, :id => "answeracroletters" %>
      <%= a.text_field :answer, :id => "answertextfield", :style => "font-size:1.7em; visibility:hidden; height:44px", :placeholder => "Enter your acro here..." %>
    </div>
    <%= a.submit "", :id => "answersubmit", :style => "display:none;" %>
  <% end %>
</div>

<div class="row">
  <div class="small-3 columns">
    <div class="small-12 float-right usertable" style="padding-left:6px; background:#d1fffe;">
      <div id="userlistbox"><u><%= @playerlist.count %>/12 players:</u><br />
        <% @playerlist.joins(:user).order('users.gamepoints DESC').each do |player| %>
          <%= player.name %><span style="float:right; padding-right:6px;"><%= player.user.gamepoints%></span><br />
        <% end %>
      </div>
    </div>
  </div>
  <div class="small-7 columns">
    <div class="small-12 small-centered chattable" style="background:#d1fffe;" id="chatbox">
      <ul id="chat">
        <%= render @messages %>
      </ul>
    </div>
    <div class="small-12">
      <%= form_for Message.new, remote: true do |f| %>
        <div class="row">
          <div class="small-10 columns"><%= f.text_field :content, :placeholder => "Enter chat here...", :autofocus => true %></div>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <div class="small-2 columns"><%= f.submit "Send", :class => "button tiny radius centerall", :style => "margin-top:2px; margin-left:-6px" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="small-2 columns centerall">
      <%= link_to "SFX: On", foyer_path, :class => "button small radius", :style => "margin-top:10px; visibility:hidden;" %>
      <%= link_to "Music: On", foyer_path, :class => "button small radius", :style => "visibility:hidden;" %>
      <%= link_to "Leave room", foyer_path, :class => "alert button small radius" %>
  </div>
</div>

<div id="rndletters" style="display:none">
  ANRPOQLSJHEUDIJSNMSHERUHPLEDIHSWJEUIFHJDYHFGRBNMAHSTGERSTE<%= @round5letters %>DHJNAKSTECHGEYTCHJDHYUTHUHSJIPOWLKEIUTHYHFGYSTTREYAGHTSYRDTEGYFTDYHNDKJIOWKLPLWIJEHYFTGRAFTERDUHGFTYRTGETSJKIWYTGH<%= @round1letters %>WPJDKSIIRJWKALPFBFBFFBFFSCSCSDLCNCJKDLDK<%= @round2letters %>UQKLSDFREDFBYTMDFREESDHJKPS<%= @round3letters %>GWJHBDCJBVHBNCKSNUIHWEUIHUIJDFBJUIGBDCVUDUCHBDCVCVKJBCKYSHSCXGSKIGHOUJPGUDRRSWEQCDSXVCNBMNKLGJDFGDGCDJVKDHSTWEQWAFFGOJOJJGHFY<%= @round8letters %>YJHPQOWUDRGCBVJGKDHSGSTRFJJLKIYYRFRWESHFJBNBBSDSSAQQGEKIHJPJIOFMNXGZXRSHG<%= @round4letters %>EEAGDJVKCFGCFJFKLGHFGDFJGHLJPIOGLFKRTEFSGVCNNOJJFVFDSWAFDHGKHGKFNHDUFYTJGPJOJOHOIISDYSDTSEESRTDJGOLHRRSGHDKJVBUGHFKBLBFYDTGGSKFPBHIGYYSFSSWAQQQSZSGHDKJGGLPJLYHN<%= @round10letters %>GHFUVDFVYHHQTDHGFJHKLGHSYWASRQESGFIKHGJDBSKVG<%= @round7letters %>BVYHHIOKPLOKJIHYHGTFRDESWAWZXZSFFVBGNHHMJJLMIHGOPFIUETWQEQDSGHSKSDJHFGGFGOQTYRFUGKDGDFVVKJGJHDFSDFOJKIGGSEWQH<%= @round9letters %>FOODHDFWSREDSHFKPPGLGOGHKJIUUTGTEREWWQWAXXCVCH<%= @round6letters %>BKJJLOKIOPEDIWYLAKSJHFBVGFHUTHFJERGYSFSGSHSRQDDHJGOLJOGVHJVNCKSFSDCXCKVGVRSWQFSDJBLJPKKIGGCDASAZAXSGDCHGJHLJJGHDFXXZSACFDJNPOHJFGVDALSKCHCUUDS



  <span id="catr1"><%= @round1cat %></span>
  <span id="catr2"><%= @round2cat %></span>
  <span id="catr3"><%= @round3cat %></span>
  <span id="catr4"><%= @round4cat %></span>
  <span id="catr5"><%= @round5cat %></span>
  <span id="catr6"><%= @round6cat %></span>
  <span id="catr7"><%= @round7cat %></span>
  <span id="catr8"><%= @round8cat %></span>
  <span id="catr9"><%= @round9cat %></span>
  <span id="catr10"><%= @round10cat %></span>

  <span id="rnd1start"><%= @timer1write + 8.75.seconds %></span>
  <span id="rnd2start"><%= @timer2write + 10.25.seconds %></span>
  <span id="rnd3start"><%= @timer3write + 11.75.seconds %></span>
  <span id="rnd4start"><%= @timer4write + 13.25.seconds %></span>
  <span id="rnd5start"><%= @timer5write + 14.75.seconds %></span>
  <span id="rnd6start"><%= @timer6write + 8.75.seconds %></span>
  <span id="rnd7start"><%= @timer7write + 10.25.seconds %></span>
  <span id="rnd8start"><%= @timer8write + 11.75.seconds %></span>
  <span id="rnd9start"><%= @timer9write + 13.25.seconds %></span>
  <span id="rnd10start"><%= @timer10write + 14.75.seconds %></span>

</div>

<%= javascript_include_tag "game/scrollbardown" %>
<%= javascript_include_tag "game/game" %>

<script>
// decide which JS event(game round) the player will join next, set up board
function joinInProgress() {
  playerEnterInit();
  $("#acceptedtext").hide();
  document.getElementById("submittedtext").style.visibility="hidden";
  $("#acroletters").css('fontSize', '100%');
  $("#acroletters").html("<br/>Waiting to join...<br/>(about <%= @timetojoin %>s)");
  slideRoundText();
  $("#roundtext").text("Joining next round...");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#answertextfield").attr("disabled", true);
  $("#answersubmit").attr("disabled", true);
  $("#votediv").hide();
  $("#resultsdiv").hide();
  $("#endofgamediv").hide();
  setTimeout(<%= @roundtojoin %>, <%= @timetojoin %>*1000);
}

joinInProgress();

// gameplay rounds
function newGameStarts() {
  $("#acroletters").text("");
  $('#answerfield').addClass('animated fadeOutDown');
  slideRoundText();
  $("#roundtext").text("New game starting...");
  setTimeout(r1prep, <%= @newgamestartstime %>*1000);
}

function r1prep() {
  slideRoundText();
  $("#roundtext").text("Round 1/10 - Get ready!");
  $("#answerformdiv").load("/room/familyroom #answerformdiv");
  setTimeout(r1write, <%= @r1preptime %>*1000);
}

function r1write() {
  roundPrep();
  var roundnumber = 1;
  var letters = $("#rndletters").text().match("GH(...)WP");
  var catfromdiv = $("#catr1").text();
  var rndstart = $("#rnd1start").text();
  $("#answerroundnumber").val(roundnumber);
  $("#answerroundstarted").val(rndstart);
  $("#answercategory").val(catfromdiv);
  $("#answeracroletters").val(letters[1]);
  slideRoundText();
  $("#roundtext").text("Round 1 - Write");
  enterCatText();
  $("#categorytext").text(catfromdiv);
  $("#acroletters").text(letters[1]);
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  $("#submittedtext").load("/room/familyroom #submittedtext");
  setTimeout(checkSubmittedNumber, 7000);
  $("#answerform").on('submit', function() {
    return acroValidate(letters[1]);
  });
  setTimeout(r1vote, <%= @r1writetime %>*1000);
}

function r1vote() {
  slideRoundText();
  document.getElementById("categorytext").style.visibility="hidden";
  document.getElementById("submittedtext").style.visibility="hidden";
  $("#acceptedtext").hide();
  $("#roundtext").text("Round 1 - Vote");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#acroletters").addClass('animated fadeOutUp');
  document.getElementById("answertextfield").style.visibility="hidden";
  $("#votediv").load("/room/familyroom #votediv");
  setTimeout(votingRound, 400);
  vtimer();
  setTimeout(r1res, <%= @r1votetime %>*1000);
}

function r1res() {
  slideRoundText();
  $("#votediv").dialog('close');
  $("#votediv").hide();
  $("#timertext").hide();
  $("#answertextfield").val("");
  $("#resultsdiv").load("/room/familyroom #resultsdiv", ".");
  setTimeout(resultsRound, 700);
  $("#roundtext").text("Round 1 - Results");
  setTimeout(r2prep, <%= @r2restime %>*1000);
}

function r2prep() {
  slideRoundText();
  hideResultsDialog();
  $("#roundtext").text("Round 2/10 - Get ready!");
  $("#answerformdiv").load("/room/familyroom #answerformdiv");
  setTimeout(r2write, <%= @r2preptime %>*1000);
}

function r2write() {
  roundPrep();
  var roundnumber = 2;
  var letters = $("#rndletters").text().match("DK(....)UQ");
  var catfromdiv = $("#catr2").text();
  var rndstart = $("#rnd2start").text();
  $("#answerroundnumber").val(roundnumber);
  $("#answerroundstarted").val(rndstart);
  $("#answercategory").val(catfromdiv);
  $("#answeracroletters").val(letters[1]);
  slideRoundText();
  $("#roundtext").text("Round 2 - Write");
  enterCatText();
  $("#categorytext").text(catfromdiv);
  $("#acroletters").text(letters[1]);
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  $("#submittedtext").load("/room/familyroom #submittedtext");
  setTimeout(checkSubmittedNumber, 8500);
  $("#answerform").submit(function() {
    return acroValidate(letters[1]);
  });
  setTimeout(r2vote, <%= @r2writetime %>*1000);
}

function r2vote() {
  slideRoundText();
  $("#acceptedtext").hide();
  document.getElementById("categorytext").style.visibility="hidden";
  document.getElementById("submittedtext").style.visibility="hidden";
  $("#roundtext").text("Round 2 - Vote");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#acroletters").addClass('animated fadeOutUp');
  document.getElementById("answertextfield").style.visibility="hidden";
  $("#votediv").load("/room/familyroom #votediv", ".");
  setTimeout(votingRound, 400);
  vtimer();
  setTimeout(r2res, <%= @r2votetime %>*1000);
}

function r2res() {
  slideRoundText();
  $("#votediv").dialog('close');
  $("#votediv").hide();
  $("#timertext").hide();
  $("#answertextfield").val("");
  $("#resultsdiv").load("/room/familyroom #resultsdiv", ".");
  setTimeout(resultsRound, 700);
  $("#roundtext").text("Round 2 - Results");
  setTimeout(r3prep, <%= @r2restime %>*1000);
}

function r3prep() {
  slideRoundText();
  hideResultsDialog();
  $("#roundtext").text("Round 3/10 - Get ready!");
  $("#answerformdiv").load("/room/familyroom #answerformdiv");
  setTimeout(r3write, <%= @r3preptime %>*1000);
}

function r3write() {
  roundPrep();
  var roundnumber = 3;
  var letters = $("#rndletters").text().match("PS(.....)GW");
  var catfromdiv = $("#catr3").text();
  var rndstart = $("#rnd3start").text();
  $("#answerroundnumber").val(roundnumber);
  $("#answerroundstarted").val(rndstart);
  $("#answercategory").val(catfromdiv);
  $("#answeracroletters").val(letters[1]);
  slideRoundText();
  $("#roundtext").text("Round 3 - Write");
  enterCatText();
  $("#categorytext").text(catfromdiv);
  $("#acroletters").text(letters[1]);
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  $("#submittedtext").load("/room/familyroom #submittedtext");
  setTimeout(checkSubmittedNumber, 10000);
  $("#answerform").submit(function() {
    return acroValidate(letters[1]);
  });
  setTimeout(r3vote, <%= @r3writetime %>*1000);
}

function r3vote() {
  slideRoundText();
  $("#acceptedtext").hide();
  document.getElementById("categorytext").style.visibility="hidden";
  document.getElementById("submittedtext").style.visibility="hidden";
  $("#roundtext").text("Round 3 - Vote");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#acroletters").addClass('animated fadeOutUp');
  document.getElementById("answertextfield").style.visibility="hidden";
  $("#votediv").load("/room/familyroom #votediv", ".");
  setTimeout(votingRound, 400);
  vtimer();
  setTimeout(r3res, <%= @r3votetime %>*1000);
}

function r3res() {
  slideRoundText();
  $("#votediv").dialog('close');
  $("#votediv").hide();
  $("#timertext").hide();
  $("#answertextfield").val("");
  $("#resultsdiv").load("/room/familyroom #resultsdiv", ".");
  setTimeout(resultsRound, 700);
  $("#roundtext").text("Round 3 - Results");
  setTimeout(r4prep, <%= @r3restime %>*1000);
}

function r4prep() {
  slideRoundText();
  hideResultsDialog();
  $("#roundtext").text("Round 4/10 - Get ready!");
  $("#answerformdiv").load("/room/familyroom #answerformdiv");
  setTimeout(r4write, <%= @r4preptime %>*1000);
}

function r4write() {
  roundPrep();
  var roundnumber = 4;
  var letters = $("#rndletters").text().match("HG(......)EE");
  var catfromdiv = $("#catr4").text();
  var rndstart = $("#rnd4start").text();
  $("#answerroundnumber").val(roundnumber);
  $("#answerroundstarted").val(rndstart);
  $("#answercategory").val(catfromdiv);
  $("#answeracroletters").val(letters[1]);
  slideRoundText();
  $("#roundtext").text("Round 4 - Write");
  enterCatText();
  $("#categorytext").text(catfromdiv);
  $("#acroletters").text(letters[1]);
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  $("#submittedtext").load("/room/familyroom #submittedtext");
  setTimeout(checkSubmittedNumber, 11500);
  $("#answerform").submit(function() {
    return acroValidate(letters[1]);
  });
  setTimeout(r4vote, <%= @r4writetime %>*1000);
}

function r4vote() {
  slideRoundText();
  $("#acceptedtext").hide();
  document.getElementById("categorytext").style.visibility="hidden";
  document.getElementById("submittedtext").style.visibility="hidden";
  $("#roundtext").text("Round 4 - Vote");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#acroletters").addClass('animated fadeOutUp');
  document.getElementById("answertextfield").style.visibility="hidden";
  $("#votediv").load("/room/familyroom #votediv", ".");
  setTimeout(votingRound, 400);
  vtimer();
  setTimeout(r4res, <%= @r4votetime %>*1000);
}

function r4res() {
  slideRoundText();
  $("#votediv").dialog('close');
  $("#votediv").hide();
  $("#timertext").hide();
  $("#answertextfield").val("");
  $("#resultsdiv").load("/room/familyroom #resultsdiv", ".");
  setTimeout(resultsRound, 700);
  $("#roundtext").text("Round 4 - Results");
  setTimeout(r5prep, <%= @r4restime %>*1000);
}

function r5prep() {
  slideRoundText();
  hideResultsDialog();
  $("#roundtext").text("Round 5/10 - Get ready!");
  $("#answerformdiv").load("/room/familyroom #answerformdiv");
  setTimeout(r5write, <%= @r5preptime %>*1000);
}

function r5write() {
  roundPrep();
  var roundnumber = 5;
  var letters = $("#rndletters").text().match("TE(.......)DH");
  var catfromdiv = $("#catr5").text();
  var rndstart = $("#rnd5start").text();
  $("#answerroundnumber").val(roundnumber);
  $("#answerroundstarted").val(rndstart);
  $("#answercategory").val(catfromdiv);
  $("#answeracroletters").val(letters[1]);
  slideRoundText();
  $("#roundtext").text("Round 5 - Write");
  enterCatText();
  $("#categorytext").text(catfromdiv);
  $("#acroletters").text(letters[1]);
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  $("#submittedtext").load("/room/familyroom #submittedtext");
  setTimeout(checkSubmittedNumber, 13000);
  $("#answerform").submit(function() {
    return acroValidate(letters[1]);
  });
  setTimeout(r5vote, <%= @r5writetime %>*1000);
}

function r5vote() {
  slideRoundText();
  $("#acceptedtext").hide();
  document.getElementById("categorytext").style.visibility="hidden";
  document.getElementById("submittedtext").style.visibility="hidden";
  $("#roundtext").text("Round 5 - Vote");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#acroletters").addClass('animated fadeOutUp');
  document.getElementById("answertextfield").style.visibility="hidden";
  $("#votediv").load("/room/familyroom #votediv", ".");
  setTimeout(votingRound, 400);
  vtimer();
  setTimeout(r5res, <%= @r5votetime %>*1000);
}

function r5res() {
  slideRoundText();
  $("#votediv").dialog('close');
  $("#votediv").hide();
  $("#timertext").hide();
  $("#answertextfield").val("");
  $("#resultsdiv").load("/room/familyroom #resultsdiv", ".");
  setTimeout(resultsRound, 700);
  $("#roundtext").text("Round 5 - Results");
  setTimeout(r6prep, <%= @r5restime %>*1000);
}

function r6prep() {
  slideRoundText();
  hideResultsDialog();
  $("#roundtext").text("Round 6/10 - Get ready!");
  $("#answerformdiv").load("/room/familyroom #answerformdiv");
  setTimeout(r6write, <%= @r6preptime %>*1000);
}

function r6write() {
  roundPrep();
  var roundnumber = 6;
  var letters = $("#rndletters").text().match("CH(...)BK");
  var catfromdiv = $("#catr6").text();
  var rndstart = $("#rnd6start").text();
  $("#answerroundnumber").val(roundnumber);
  $("#answerroundstarted").val(rndstart);
  $("#answercategory").val(catfromdiv);
  $("#answeracroletters").val(letters[1]);
  slideRoundText();
  $("#roundtext").text("Round 6 - Write");
  enterCatText();
  $("#categorytext").text(catfromdiv);
  $("#acroletters").text(letters[1]);
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  $("#submittedtext").load("/room/familyroom #submittedtext");
  setTimeout(checkSubmittedNumber, 7000);
  $("#answerform").submit(function() {
    return acroValidate(letters[1]);
  });
  setTimeout(r6vote, <%= @r6writetime %>*1000);
}

function r6vote() {
  slideRoundText();
  document.getElementById("categorytext").style.visibility="hidden";
  document.getElementById("submittedtext").style.visibility="hidden";
  $("#acceptedtext").hide();
  $("#roundtext").text("Round 6 - Vote");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#acroletters").addClass('animated fadeOutUp');
  document.getElementById("answertextfield").style.visibility="hidden";
  $("#votediv").load("/room/familyroom #votediv", ".");
  setTimeout(votingRound, 400);
  vtimer();
  setTimeout(r6res, <%= @r6votetime %>*1000);
}

function r6res() {
  slideRoundText();
  $("#votediv").dialog('close');
  $("#votediv").hide();
  $("#timertext").hide();
  $("#timertext").hide();
  $("#answertextfield").val("");
  $("#resultsdiv").load("/room/familyroom #resultsdiv", ".");
  setTimeout(resultsRound, 700);
  $("#roundtext").text("Round 6 - Results");
  setTimeout(r7prep, <%= @r6restime %>*1000);
}

function r7prep() {
  slideRoundText();
  hideResultsDialog();
  $("#roundtext").text("Round 7/10 - Get ready!");
  $("#answerformdiv").load("/room/familyroom #answerformdiv");
  setTimeout(r7write, <%= @r7preptime %>*1000);
}

function r7write() {
  roundPrep();
  var roundnumber = 7;
  var letters = $("#rndletters").text().match("VG(....)BV");
  var catfromdiv = $("#catr7").text();
  var rndstart = $("#rnd7start").text();
  $("#answerroundnumber").val(roundnumber);
  $("#answerroundstarted").val(rndstart);
  $("#answercategory").val(catfromdiv);
  $("#answeracroletters").val(letters[1]);
  slideRoundText();
  $("#roundtext").text("Round 7 - Write");
  enterCatText();
  $("#categorytext").text(catfromdiv);
  $("#acroletters").text(letters[1]);
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  $("#submittedtext").load("/room/familyroom #submittedtext");
  setTimeout(checkSubmittedNumber, 8500);
  $("#answerform").submit(function() {
    return acroValidate(letters[1]);
  });
  setTimeout(r7vote, <%= @r7writetime %>*1000);
}

function r7vote() {
  slideRoundText();
  $("#acceptedtext").hide();
  document.getElementById("categorytext").style.visibility="hidden";
  document.getElementById("submittedtext").style.visibility="hidden";
  $("#roundtext").text("Round 7 - Vote");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#acroletters").addClass('animated fadeOutUp');
  document.getElementById("answertextfield").style.visibility="hidden";
  $("#votediv").load("/room/familyroom #votediv", ".");
  setTimeout(votingRound, 400);
  vtimer();
  setTimeout(r7res, <%= @r7votetime %>*1000);
}

function r7res() {
  slideRoundText();
  $("#votediv").dialog('close');
  $("#votediv").hide();
  $("#timertext").hide();
  $("#answertextfield").val("");
  $("#resultsdiv").load("/room/familyroom #resultsdiv", ".");
  setTimeout(resultsRound, 700);
  $("#roundtext").text("Round 7 - Results");
  setTimeout(r8prep, <%= @r7restime %>*1000);
}

function r8prep() {
  slideRoundText();
  hideResultsDialog();
  $("#roundtext").text("Round 8/10 - Get ready!");
  $("#answerformdiv").load("/room/familyroom #answerformdiv");
  setTimeout(r8write, <%= @r8preptime %>*1000);
}

function r8write() {
  roundPrep();
  var roundnumber = 8;
  var letters = $("#rndletters").text().match("FY(.....)YJ");
  var catfromdiv = $("#catr8").text();
  var rndstart = $("#rnd8start").text();
  $("#answerroundnumber").val(roundnumber);
  $("#answerroundstarted").val(rndstart);
  $("#answercategory").val(catfromdiv);
  $("#answeracroletters").val(letters[1]);
  slideRoundText();
  $("#roundtext").text("Round 8 - Write");
  enterCatText();
  $("#categorytext").text(catfromdiv);
  $("#acroletters").text(letters[1]);
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  $("#submittedtext").load("/room/familyroom #submittedtext");
  setTimeout(checkSubmittedNumber, 10000);
  $("#answerform").submit(function() {
    return acroValidate(letters[1]);
  });
  setTimeout(r8vote, <%= @r8writetime %>*1000);
}

function r8vote() {
  slideRoundText();
  $("#acceptedtext").hide();
  document.getElementById("categorytext").style.visibility="hidden";
  document.getElementById("submittedtext").style.visibility="hidden";
  $("#roundtext").text("Round 8 - Vote");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#acroletters").addClass('animated fadeOutUp');
  document.getElementById("answertextfield").style.visibility="hidden";
  $("#votediv").load("/room/familyroom #votediv", ".");
  setTimeout(votingRound, 400);
  vtimer();
  setTimeout(r8res, <%= @r8votetime %>*1000);
}

function r8res() {
  slideRoundText();
  $("#votediv").dialog('close');
  $("#votediv").hide();
  $("#timertext").hide();
  $("#answertextfield").val("");
  $("#resultsdiv").load("/room/familyroom #resultsdiv", ".");
  setTimeout(resultsRound, 700);
  $("#roundtext").text("Round 8 - Results");
  setTimeout(r9prep, <%= @r8restime %>*1000);
}

function r9prep() {
  slideRoundText();
  hideResultsDialog();
  $("#roundtext").text("Round 9/10 - Get ready!");
  $("#answerformdiv").load("/room/familyroom #answerformdiv");
  setTimeout(r9write, <%= @r9preptime %>*1000);
}

function r9write() {
  roundPrep();
  var roundnumber = 9;
  var letters = $("#rndletters").text().match("QH(......)FO");
  var catfromdiv = $("#catr9").text();
  var rndstart = $("#rnd9start").text();
  $("#answerroundnumber").val(roundnumber);
  $("#answerroundstarted").val(rndstart);
  $("#answercategory").val(catfromdiv);
  $("#answeracroletters").val(letters[1]);
  slideRoundText();
  $("#roundtext").text("Round 9 - Write");
  enterCatText();
  $("#categorytext").text(catfromdiv);
  $("#acroletters").text(letters[1]);
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  $("#submittedtext").load("/room/familyroom #submittedtext");
  setTimeout(checkSubmittedNumber, 11500);
  $("#answerform").submit(function() {
    return acroValidate(letters[1]);
  });
  setTimeout(r9vote, <%= @r9writetime %>*1000);
}

function r9vote() {
  slideRoundText();
  $("#acceptedtext").hide();
  document.getElementById("categorytext").style.visibility="hidden";
  document.getElementById("submittedtext").style.visibility="hidden";
  $("#roundtext").text("Round 9 - Vote");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#acroletters").addClass('animated fadeOutUp');
  document.getElementById("answertextfield").style.visibility="hidden";
  $("#votediv").load("/room/familyroom #votediv", ".");
  setTimeout(votingRound, 400);
  vtimer();
  setTimeout(r9res, <%= @r9votetime %>*1000);
}

function r9res() {
  slideRoundText();
  $("#votediv").dialog('close');
  $("#votediv").hide();
  $("#timertext").hide();
  $("#answertextfield").val("");
  $("#resultsdiv").load("/room/familyroom #resultsdiv", ".");
  setTimeout(resultsRound, 700);
  $("#roundtext").text("Round 9 - Results");
  setTimeout(r10prep, <%= @r9restime %>*1000);
}

function r10prep() {
  slideRoundText();
  hideResultsDialog();
  $("#roundtext").text("Last round - Get ready!");
  $("#answerformdiv").load("/room/familyroom #answerformdiv");
  setTimeout(r10write, <%= @r10preptime %>*1000);
}

function r10write() {
  roundPrep();
  var roundnumber = 10;
  var letters = $("#rndletters").text().match("HN(.......)GH");
  var catfromdiv = $("#catr10").text();
  var rndstart = $("#rnd10start").text();
  $("#answerroundnumber").val(roundnumber);
  $("#answerroundstarted").val(rndstart);
  $("#answercategory").val(catfromdiv);
  $("#answeracroletters").val(letters[1]);
  slideRoundText();
  $("#roundtext").text("Round 10 - Write");
  enterCatText();
  $("#categorytext").text(catfromdiv);
  $("#acroletters").text(letters[1]);
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  $("#submittedtext").load("/room/familyroom #submittedtext");
  setTimeout(checkSubmittedNumber, 13000);
  $("#answerform").submit(function() {
    return acroValidate(letters[1]);
  });
  setTimeout(r10vote, <%= @r10writetime %>*1000);
}

function r10vote() {
  slideRoundText();
  $("#acceptedtext").hide();
  document.getElementById("categorytext").style.visibility="hidden";
  document.getElementById("submittedtext").style.visibility="hidden";
  $("#roundtext").text("Round 10 - Vote");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#acroletters").addClass('animated fadeOutUp');
  document.getElementById("answertextfield").style.visibility="hidden";
  $("#votediv").load("/room/familyroom #votediv", ".");
  setTimeout(votingRound, 400);
  vtimer();
  setTimeout(r10res, <%= @r10votetime %>*1000);
}

function r10res() {
  slideRoundText();
  $("#votediv").dialog('close');
  $("#votediv").hide();
  $("#timertext").hide();
  $("#answertextfield").val("");
  $("#resultsdiv").load("/room/familyroom #resultsdiv", ".");
  setTimeout(resultsRound, 700);
  $("#roundtext").text("Round 10 - Results");
  setTimeout(endOfGame, <%= @r10restime %>*1000);
}

function endOfGame() {
  slideRoundText();
  hideResultsDialog();
  $("#roundtext").text("The winner is...");
  $("#endofgamediv").load("/room/familyroom #endofgamediv");
  setTimeout(gameOver, 700);
  function newTimesAndLetters(){
    if (<%= @timernewgamestarts.to_i %> < <%= DateTime.now.utc.to_i %>) {
      $.ajax({
        url: "/room/familyroom",
        type: "POST"
      });
    }
  }
  setTimeout(newTimesAndLetters, 12500);
  setTimeout(readyForNewGame, <%= @finalresultstime %>*1000);
}

function readyForNewGame() {
  playerEnterInit();
  $("#acceptedtext").hide();
  $("#acroletters").show();
  document.getElementById("submittedtext").style.visibility="hidden";
  $("#acroletters").css('fontSize', '100%');
  $("#acroletters").html("<br/>Stay tuned for<br/>new game...");
  $("#acroletters").removeClass('animated fadeOutUp');
  slideRoundText();
  $("#roundtext").text("Take a breath...");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#answertextfield").attr("disabled", true);
  $("#answersubmit").attr("disabled", true);
  hideEndGameDialog();
  $("#rndletters").load("/room/familyroom #rndletters");
  setTimeout(<%= @roundtojoin %>, <%= @timetojoin %>*1000);
}
</script>
