<%= subscribe_to "/messages/familyroom" %>
<%= subscribe_to "/familyroom/game" %>

<script>
setInterval(function() {
  $("#userlistbox").load("/room/familyroom #userlistbox");
}, 5000 );

function userLeaves(){
  $.ajax({
    url: "/room/destroyplayer",
    type: "delete"
  });
}

$(window).on('beforeunload', function () {
  userLeaves()
});

var currentTime = new Date();
var utcOffset = currentTime.getTimezoneOffset();
document.cookie = 'time_zone_offset='+utcOffset+';';
</script>

<div class="row">
  <div class="small-6 columns centerall">
    <h2 id="roundtext"></h2>
  </div>
  <h2><div id="timertext" class="small-6 columns centerall">

  </div></h2>
</div>

<div class="row">
  <div class="small-12 columns centerall">

    <% @famroomanswers.shuffle.each do |answer| %>
    <p id="votetext" style="font-size:100%; display:none;">
        <%= answer.answer %>
        <%= answer.id %>
        <%= button_to "Vote", :controller => "room", :action => "votefor", :id => answer.id, :method => "put", remote: true %>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns centerall">
    <p id="resulttext" style="font-size:100%; display:none;">
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns centerall">
    <p id="endofgametext" style="font-size:100%; display:none;">
    </p>
  </div>
</div>

<div class="row">
  <div class="small-4 columns centerall">
    <p id="submittedtext" style="height:16px; margin-top:14px;">Answers Submitted: <%= Famroomanswer.where(round: 1).count %></p>
  </div>
  <h3><div id="categorytext" class="small-4 columns centerall">
  </div></h3>
  <div class="small-4 columns centerall">
    <p id="acceptedtext" style="font-size:120%; color:green; height:16px;">Answer Accepted (<%= @submissiontime %>s)
    </p>
  </div>
</div>

<div class="row">
  <div class="small-10 small-centered acrotable acrofont centerall">

    <p id="acroletters" class="verticalcenter" style="font-size:340%; margin-top:-28px; margin-bottom:40px;">
      </p>
  </div>
</div>

<div class="row">
  <%= form_for Famroomanswer.new, :html => {:id => "answerform"}, remote: true do |a| %>
    <div id="answerfield" class="small-8 small-centered columns centerall">
      <%= a.hidden_field :user_id, :value => current_user.id %>
      <%= a.hidden_field :round, :id => "answerroundnumber" %>
      <%= a.hidden_field :roundstarted, :id => "answerroundstarted" %>
      <%= a.hidden_field :category, :id => "answercategory" %>
      <%= a.hidden_field :acroletters, :id => "answeracroletters" %>
      <%= a.text_field :answer, :id => "answertextfield", :style => "font-size:1.7em; visibility:visible; height:44px", :placeholder => "Enter your acro here..." %>
    </div>
    <%= a.submit "", :id => "answersubmit", :style => "display:none;" %>
  <% end %>
</div>

<div class="row">
  <div class="small-3 columns">
    <div class="small-12 float-right usertable" style="padding-left:6px">
      <div id="userlistbox"><%= @playerlist.count %>/12 players:<br />
        <% @playerlist.each do |player| %>
          <%= player.name %><br />
        <% end %>
      </div>
    </div>
  </div>
  <div class="small-7 columns">
    <div class="small-12 small-centered chattable" id="chatbox">
      <ul id="chat">
        <%= render @messages %>
      </ul>
    </div>
    <div class="small-12">
      <%= form_for Message.new, remote: true do |f| %>
        <div class="row">
          <div class="small-10 columns"><%= f.text_field :content, :placeholder => "Enter chat here...", :autofocus => true %></div>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <div class="small-2 columns"><%= f.submit "Send", :class => "button tiny radius centerall", :style => "margin-top:2px; margin-left:-6px" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="small-2 columns centerall">
      <%= link_to "SFX: On", foyer_path, :class => "button small radius", :style => "margin-top:10px" %>
      <%= link_to "Music: On", foyer_path, :class => "button small radius" %>
      <%= link_to "Leave room", foyer_path, :class => "alert button small radius" %>
  </div>
</div>

<%= javascript_include_tag "game/scrollbardown" %>
<%= javascript_include_tag "game/game" %>

<script>

// decide which JS event(game round) the player will join next, set up board
function joinInProgress() {
  $("#acceptedtext").hide();
  document.getElementById("submittedtext").style.visibility="hidden";
  $("#acroletters").css('fontSize', '100%');
  $("#acroletters").html("<br/>Waiting to<br/> join next round...");
  slideRoundText();
  $("#roundtext").text("Joining next round...");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#answertextfield").attr("disabled", true);
  $("#answersubmit").attr("disabled", true);
  setTimeout(<%= @roundtojoin %>, <%= @timetojoin %>*1000);
}

joinInProgress();

// gameplay rounds
function newGameStarts() {
  $("#acroletters").text("");
  $('#answerfield').addClass('animated fadeOutDown');
  slideRoundText();
  $("#roundtext").text("New game starting...");
  setTimeout(r1prep, <%= @newgamestartstime %>*1000);
}

function r1prep() {
  slideRoundText();
  $("#votetext").dialog({
      autoOpen: false,
      closeOnEscape: false,
      draggable: false,
      resizable: false,
      position: { my: "center top", at: "center top-10", of: "#categorytext" },
      title: "Pick your favorite...",
      width: "500",

    });
  $("#votetext").dialog('open');
  $("#roundtext").text("Round 1/10 - Get ready!");
  setTimeout(r1write, <%= @r1preptime %>*1000);
}

function r1write() {
  var roundnumber = 1;
  $("#answerroundnumber").val(roundnumber);
  var roundstarted = "<%= @timer1write + 8.75.seconds %>";
  $("#answerroundstarted").val(roundstarted);
  var anscategory = "<%= @round1cat %>";
  $("#answercategory").val(anscategory);
  var ansletters = "<%= @round1letters %>";
  $("#answeracroletters").val(ansletters);
  slideRoundText();
  $("#roundtext").text("Round 1 - Write");
  enterCatText();
  $("#categorytext").text("Category: <%= @round1cat %>");
  $("#acroletters").text("<%= @round1letters %>");
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  setTimeout(checkSubmittedNumber, 7000);
  $("#answerform").submit(function() {
    return(acroValidate(gon.round1letters));
  });
  setTimeout(r1vote, <%= @r1writetime %>*1000);
}

function r1vote() {
  slideRoundText();
  document.getElementById("submittedtext").style.visibility="hidden";
  document.getElementById("acceptedtext").style.visibility="hidden";
  $("#roundtext").text("Round 1 - Vote");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#acroletters").addClass('animated fadeOutUp');
  vtimer();
  setTimeout(r1res, <%= @r1votetime %>*1000);
}

function r1res() {
  $("#roundtext").text("Round 1 - Results");
  setTimeout(r2prep, <%= @r2restime %>*1000);
}

function r2prep() {
  $("#categorytext").text("Round: r2prep");
  setTimeout(r2write, <%= @r2preptime %>*1000);
}

function r2write() {
  var roundnumber = 2;
  $("#answerroundnumber").val(roundnumber);
  var roundstarted = "<%= @timer2write + 10.25.seconds %>";
  $("#answerroundstarted").val(roundstarted);
  $("#categorytext").text("Round: r2write");
  $("#acroletters").text("<%= @round2letters %>");
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  setTimeout(r2vote, <%= @r2writetime %>*1000);
}

function r2vote() {
  $("#categorytext").text("Round: r2vote");
  $('#answerfield').addClass('animated fadeOutDown');
  vtimer();
  setTimeout(r2res, <%= @r2votetime %>*1000);
}

function r2res() {
  $("#categorytext").text("Round: r2res");
  setTimeout(r3prep, <%= @r2restime %>*1000);
}

</script>
