<%= subscribe_to "/messages/familyroom" %>
<%= subscribe_to "/familyroom/game" %>

<script>
setInterval(function() {
  $("#userlistbox").load("/room/familyroom #userlistbox");
}, 5000 );

function userLeaves(){
  $.ajax({
    url: "/room/destroyplayer",
    type: "delete"
  });
}

$(window).on('beforeunload', function () {
  userLeaves()
});
</script>

<div class="row">
  <div class="small-6 columns centerall">
    <h2 id="roundtext">Round 1 of 10</h2>
  </div>
  <h2><div id="timertext" class="small-6 columns centerall">
    Time remaining
  </div></h2>
</div>
<div class="row">
  <div id="submittedtext" class="small-4 columns centerall">
    <p>0 of 5 Answers Submitted</p>
  </div>
  <h3><div id="categorytext" class="small-4 columns centerall">



  </div></h3>
  <div class="small-4 columns">
  </div>
</div>
<div class="row">
  <div class="small-10 small-centered acrotable acrofont centerall">

    <p id="acroletters" class="verticalcenter" style="font-size:340%; margin-top:-20px; margin-bottom:40px;">
      ...</p>
  </div>
</div>
<div class="row">
  <div id="answerfield" class="small-8 small-centered columns centerall">
    <%= text_field_tag 'submission', nil, :style => "font-size:1.7em; visibility:visible; height:44px", :placeholder => "Enter your acro here..." %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <div class="small-12 float-right usertable" style="padding-left:6px">
      <div id="userlistbox"><%= @playerlist.count %>/12 players:<br />
        <% @playerlist.each do |player| %>
          <%= player.name %><br />
        <% end %>
      </div>
    </div>
  </div>
  <div class="small-7 columns">
    <div class="small-12 small-centered chattable" id="chatbox">
      <ul id="chat">
        <%= render @messages %>
      </ul>
    </div>
    <div class="small-12">
      <%= form_for Message.new, remote: true do |f| %>
        <div class="row">
          <div class="small-10 columns"><%= f.text_field :content, :placeholder => "Enter chat here...", :autofocus => true %></div>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <div class="small-2 columns"><%= f.submit "Send", :class => "button tiny radius centerall", :style => "margin-top:2px; margin-left:-6px" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="small-2 columns centerall">
      <%= link_to "SFX: On", foyer_path, :class => "button small radius", :style => "margin-top:10px" %>
      <%= link_to "Music: On", foyer_path, :class => "button small radius" %>
      <%= link_to "Leave room", foyer_path, :class => "alert button small radius" %>
  </div>
</div>

<%= javascript_include_tag "game/scrollbardown" %>
<%= javascript_include_tag "game/game" %>

<script>
<% publish_to "/familyroom/game" do %>
if (<%= Famroomgamestate.find(:first).activity == "waiting" %>)
  {
    $("#acroletters").replaceWith("<br/>Waiting for<br/> at least 3 players...");
    $("#roundtext").text("Round 0 of 10");
    $("#categorytext").text("Category: Waiting...");
}
else
  {
    game();
  }
<% end %>
</script>
