<script type="text/JavaScript">
window.addEventListener('beforeunload', function () {
  $.ajax({
    url: "/room/destroyplayer",
    type: "delete"
  });
});
</script>

<div class="row">
  <div class="small-6 columns centerall">
    <h2>Round 1 of 10</h2>
  </div>
  <div class="small-6 columns centerall">
    <h2>Time remaining</h2>
  </div>
</div>
<div class="row">
  <div class="small-4 columns centerall">
    <p>0 of 5 Answers Submitted</p>
  </div>
  <div class="small-4 columns centerall">
    <h3>Category</h3>
  </div>
  <div class="small-4 columns">
  </div>
</div>
<div class="row">
  <div class="small-8 small-centered acrofont centerall">
    <p id="acroletters" style="margin-top:-40px; margin-bottom:-40px; font-size:340%; font-weight:normal;">ACRO</p>
  </div>
</div>
<div class="row">
  <div class="small-8 small-centered columns centerall">
    <%= text_field_tag 'submission', nil, :style => "font-size:1.8em; visibility:visible; height:44px", :placeholder => "Enter your acro here..." %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <div class="small-12 float-right usertable" id="userlistbox">
      <% @playerlist.each do |player| %>
        <%= player.name %><br />
      <% end %>
      <%= image_tag current_user.avatar.url, :size => "10x10" %>
      <%= current_user.username %><br/>
      <%= @user[2].username %><br/>
      <%= @user.count %> members!
    </div>
  </div>
  <div class="small-7 columns">
    <div class="small-12 small-centered chattable" id="chatbox">
      <ul id="chat">
        <%= render @messages %>
      </ul>
    </div>
    <div class="small-12">
      <%= subscribe_to "/messages/familyroom" %>
      <%= form_for Message.new, remote: true do |f| %>
        <div class="row">
          <div class="small-10 columns"><%= f.text_field :content, :placeholder => "Enter chat here...", :autofocus => true %></div>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <div class="small-2 columns"><%= f.submit "Send", :class => "button tiny radius centerall", :style => "margin-top:2px; margin-left:-6px" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="small-2 columns centerall">
      <%= link_to "SFX: On", foyer_path, :class => "button small radius", :style => "margin-top:10px" %>
      <%= link_to "Music: On", foyer_path, :class => "button small radius" %>
      <%= link_to "Leave room", foyer_path, :class => "alert button small radius" %>
  </div>
</div>

