<%= subscribe_to "/messages/familyroom" %>
<%= subscribe_to "/familyroom/game" %>

<script>
setInterval(function() {
  $("#userlistbox").load("/room/familyroom #userlistbox");
}, 5000 );

function userLeaves(){
  $.ajax({
    url: "/room/destroyplayer",
    type: "delete"
  });
}

$(window).on('beforeunload', function () {
  userLeaves()
});
</script>

<div class="row">
  <div class="small-6 columns centerall">
    <h2 id="roundtext">Round 1 of 10</h2>
  </div>
  <h2><div id="timertext" class="small-6 columns centerall">
    Time remaining
  </div></h2>
</div>
<div class="row">
  <div id="submittedtext" class="small-4 columns centerall">
    <p>0 of 5 Answers Submitted</p> <%= @nextround %>
  </div>
  <h3><div id="categorytext" class="small-4 columns centerall">



  </div></h3>
  <div class="small-4 columns">
  </div>
</div>
<div class="row">
  <div class="small-10 small-centered acrotable acrofont centerall">

    <p id="acroletters" class="verticalcenter" style="font-size:340%; margin-top:-20px; margin-bottom:40px;">
      </p>
  </div>
</div>
<div class="row">
  <%= form_for Famroomanswer.new, remote: true do |a| %>
    <div id="answerfield" class="small-8 small-centered columns centerall">
      <%= a.hidden_field :user_id, :value => current_user.id %>
      <%= a.hidden_field :round, :id => "answerroundnumber" %>
      <%= a.hidden_field :roundstarted, :id => "answerroundstarted" %>
      <%= a.text_field :answer, :id => "answertextfield", :style => "font-size:1.7em; visibility:visible; height:44px", :placeholder => "Enter your acro here..." %>
    </div>
    <%= a.submit "", :id => "answersubmit", :style => "display:none;" %>
  <% end %>
</div>
<div class="row">
  <div class="small-3 columns">
    <div class="small-12 float-right usertable" style="padding-left:6px">
      <div id="userlistbox"><%= @playerlist.count %>/12 players:<br />
        <% @playerlist.each do |player| %>
          <%= player.name %><br />
        <% end %>
      </div>
    </div>
  </div>
  <div class="small-7 columns">
    <div class="small-12 small-centered chattable" id="chatbox">
      <ul id="chat">
        <%= render @messages %>
      </ul>
    </div>
    <div class="small-12">
      <%= form_for Message.new, remote: true do |f| %>
        <div class="row">
          <div class="small-10 columns"><%= f.text_field :content, :placeholder => "Enter chat here...", :autofocus => true %></div>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <div class="small-2 columns"><%= f.submit "Send", :class => "button tiny radius centerall", :style => "margin-top:2px; margin-left:-6px" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="small-2 columns centerall">
      <%= link_to "SFX: On", foyer_path, :class => "button small radius", :style => "margin-top:10px" %>
      <%= link_to "Music: On", foyer_path, :class => "button small radius" %>
      <%= link_to "Leave room", foyer_path, :class => "alert button small radius" %>
  </div>
</div>

<%= javascript_include_tag "game/scrollbardown" %>
<%= javascript_include_tag "game/game" %>

<script>
// decide which JS event the player will join next, set up board
function joinInProgress() {
  $("#acroletters").css('fontSize', '100%');
  $("#acroletters").html("<br/>Waiting to<br/> join next round...");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#answertextfield").attr("disabled", true);
  $("#answersubmit").attr("disabled", true);
  setTimeout(<%= @roundtojoin %>, <%= @timetojoin %>*1000);
}

joinInProgress();

// Writing and voting timer
function wtimer() {
  var answercount=61; // Answer write time (s)
  var writecounter=setInterval(writingtimer, 1000);
  $("#timertext").css('color', 'black');
  function writingtimer() {
    answercount=answercount-1;
    if ( answercount == 0 )
    {
      $("#answertextfield").attr("disabled", true);
      $("#answersubmit").attr("disabled", true);
    }
    if ( answercount <= -1 )
    {
      clearInterval(writecounter);
      return;
    }
    if ( answercount == 20 || answercount == 10 || answercount == 5 )
      {
        $("#timertext").addClass('animated tada');
      }
    if ( answercount == 19 || answercount == 9 || answercount == 4 )
      {
        $("#timertext").removeClass('animated tada');
      }
    if ( answercount == 10 )
      {
        $("#timertext").css('color', 'red');
      }
    $("#timertext").text(answercount);
  }
}

function vtimer() {
  var votecount=26; // Vote time (s)
  $("#timertext").css('color', 'black');
  var votecounter=setInterval(votingtimer, 1000);
  function votingtimer() {
    votecount=votecount-1;
    if ( votecount <= -1 )
    {
      clearInterval(votecounter);
      return;
    }
    if ( votecount == 5 )
      {
        $("#timertext").addClass('animated tada');
        $("#timertext").css('color', 'red');
      }
    if ( votecount == 4 )
      {
        $("#timertext").removeClass('animated tada');
      }

    $("#timertext").text(votecount);
  }
}

// Letter display

function showLetters() {
  var text = $('#acroletters').text();
  var length = text.length;
  var timeOut;
  var character = 0;
  $("#acroletters").css('fontSize', '340%');
  function typeWriter() {
    timeOut = setTimeout(function() {
      document.getElementById("acroletters").style.visibility="visible";
      character++;
      var type = text.substring(0, character);
      $('#acroletters').text(type);
      $("#acroletters").removeClass('animated fadeOutUp');
      $('#acroletters').addClass('animated fadeIn');
      typeWriter();
      if (character == length + 1) {
        clearTimeout(timeOut);
        wtimer();
        $("#answertextfield").removeAttr("disabled");
        $("#answersubmit").removeAttr("disabled");
        $('#answerfield').removeClass('animated fadeOutDown');
        $('#answerfield').addClass('animated rubberBand');
      }
    }, 1500);
  };
  typeWriter();
}

// gameplay rounds
function newGameStarts() {
  $("#acroletters").text("");
  $("#categorytext").text("NewGameStarts");
  setTimeout(r1prep, <%= @newgamestartstime %>*1000);
}

function r1prep() {
  $("#categorytext").text("Round: r1prep");
  setTimeout(r1write, <%= @r1preptime %>*1000);
}

function r1write() {
  var roundnumber = 1;
  $("#answerroundnumber").val(roundnumber);
  var roundstarted = "<%= @timer1write + 6.5.seconds %>";
  $("#answerroundstarted").val(roundstarted);
  $("#categorytext").text("Round: r1write");
  $("#acroletters").text("<%= @round1letters %>");
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  setTimeout(r1vote, <%= @r1writetime %>*1000);
}

function r1vote() {
  $("#categorytext").text("Round: r1vote");
  $('#answerfield').addClass('animated fadeOutDown');
  $("#acroletters").addClass('animated fadeOutUp');
  vtimer();
  setTimeout(r1res, <%= @r1votetime %>*1000);
}

function r1res() {
  $("#categorytext").text("Round: r1res");
  setTimeout(r2prep, <%= @r2restime %>*1000);
}

function r2prep() {
  $("#categorytext").text("Round: r2prep");
  setTimeout(r2write, <%= @r2preptime %>*1000);
}

function r2write() {
  var roundnumber = 2;
  $("#answerroundnumber").val(roundnumber);
  var roundstarted = "<%= @timer2write + 8.seconds %>";
  $("#answerroundstarted").val(roundstarted);
  $("#categorytext").text("Round: r2write");
  $("#acroletters").text("<%= @round2letters %>");
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  setTimeout(r2vote, <%= @r2writetime %>*1000);
}

function r2vote() {
  $("#categorytext").text("Round: r2vote");
  $('#answerfield').addClass('animated fadeOutDown');
  vtimer();
  setTimeout(r2res, <%= @r2votetime %>*1000);
}

function r2res() {
  $("#categorytext").text("Round: r2res");
  setTimeout(r3prep, <%= @r2restime %>*1000);
}

</script>
