<%= subscribe_to "/messages/familyroom" %>
<%= subscribe_to "/familyroom/game" %>

<script>
setInterval(function() {
  $("#userlistbox").load("/room/familyroom #userlistbox");
}, 5000 );

function userLeaves(){
  $.ajax({
    url: "/room/destroyplayer",
    type: "delete"
  });
}

$(window).on('beforeunload', function () {
  userLeaves()
});
</script>

<div class="row">
  <div class="small-6 columns centerall">
    <h2 id="roundtext">Round 1 of 10</h2>
  </div>
  <h2><div id="timertext" class="small-6 columns centerall">
    Time remaining
  </div></h2>
</div>
<div class="row">
  <div id="submittedtext" class="small-4 columns centerall">
    <p>0 of 5 Answers Submitted</p> <%= @nextround %>
  </div>
  <h3><div id="categorytext" class="small-4 columns centerall">



  </div></h3>
  <div class="small-4 columns">
  </div>
</div>
<div class="row">
  <div class="small-10 small-centered acrotable acrofont centerall">

    <p id="acroletters" class="verticalcenter" style="font-size:340%; margin-top:-20px; margin-bottom:40px;">
      </p>
  </div>
</div>
<div class="row">
  <div id="answerfield" class="small-8 small-centered columns centerall">
    <%= text_field_tag 'submission', nil, :style => "font-size:1.7em; visibility:visible; height:44px", :placeholder => "Enter your acro here..." %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <div class="small-12 float-right usertable" style="padding-left:6px">
      <div id="userlistbox"><%= @playerlist.count %>/12 players:<br />
        <% @playerlist.each do |player| %>
          <%= player.name %><br />
        <% end %>
      </div>
    </div>
  </div>
  <div class="small-7 columns">
    <div class="small-12 small-centered chattable" id="chatbox">
      <ul id="chat">
        <%= render @messages %>
      </ul>
    </div>
    <div class="small-12">
      <%= form_for Message.new, remote: true do |f| %>
        <div class="row">
          <div class="small-10 columns"><%= f.text_field :content, :placeholder => "Enter chat here...", :autofocus => true %></div>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <div class="small-2 columns"><%= f.submit "Send", :class => "button tiny radius centerall", :style => "margin-top:2px; margin-left:-6px" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="small-2 columns centerall">
      <%= link_to "SFX: On", foyer_path, :class => "button small radius", :style => "margin-top:10px" %>
      <%= link_to "Music: On", foyer_path, :class => "button small radius" %>
      <%= link_to "Leave room", foyer_path, :class => "alert button small radius" %>
  </div>
</div>

<%= javascript_include_tag "game/scrollbardown" %>
<%= javascript_include_tag "game/game" %>

<script>
// decide which JS event the player will join next
function joinInProgress() {
  setTimeout(<%= @roundtojoin %>, <%= @timetojoin %>*1000);
}

joinInProgress();

// Writing and voting timer
function wtimer() {
  var answercount=61; // Answer write time (s)
  var writecounter=setInterval(writingtimer, 1000);
  function writingtimer() {
    answercount=answercount-1;
    if (answercount <= -1)
    {
      clearInterval(writecounter);
      return;
    }
    $("#timertext").text(answercount);
  }
}

function vtimer() {
  var votecount=26; // Vote time (s)
  var votecounter=setInterval(votingtimer, 1000);
  function votingtimer() {
    votecount=votecount-1;
    if (votecount <= -1)
    {
      clearInterval(votecounter);
      return;
    }
    $("#timertext").text(votecount);
  }
}

// Letter display
function showLetters() {
  $("#acroletters").textillate( {
    initialDelay: 0,
    inEffects: [],
    in: {
      effect: 'fadeIn',
      delayScale: 1,
      delay: 1000,
    },
    callback: function () {
      wtimer();
    }
  });
}

function removeLetters() {
  $("#acroletters").textillate( {
    autoStart: true,
    outEffects: [ 'hinge'],
    out: {
      effect: 'hinge',
      delayScale: 1,
      delay: 600,
      reverse: true,
    }
  });
}

// gameplay rounds
function newGameStarts() {
  $("#categorytext").text("Round: NewGameStarts");
  setTimeout(r1prep, <%= @newgamestartstime %>*1000);
}

function r1prep() {
  $("#categorytext").text("Round: r1prep");
  setTimeout(r1write, <%= @r1preptime %>*1000);
}

function r1write() {
  $("#categorytext").text("Round: r1write");
  $("#acroletters").text("<%= @round1letters %>");
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  setTimeout(r1vote, <%= @r1writetime %>*1000);
}

function r1vote() {
  $("#categorytext").text("Round: r1vote");
  document.getElementById("acroletters").style.visibility="visible";
  removeLetters();
  vtimer();
  setTimeout(r1res, <%= @r1votetime %>*1000);
}

function r1res() {
  $("#categorytext").text("Round: r1res");
  setTimeout(r2prep, <%= @r2restime %>*1000);
}

function r2prep() {
  $("#categorytext").text("Round: r2prep");
  setTimeout(r2write, <%= @r2preptime %>*1000);
}

function r2write() {
  $("#categorytext").text("Round: r2write");
  $("#acroletters").text("<%= @round2letters %>");
  document.getElementById("acroletters").style.visibility="hidden";
  showLetters();
  setTimeout(r2vote, <%= @r2writetime %>*1000);
}

function r2vote() {
  $("#categorytext").text("Round: r2vote");
  vtimer();
  setTimeout(r2res, <%= @r2votetime %>*1000);
}

function r2res() {
  $("#categorytext").text("Round: r2res");
  setTimeout(r3prep, <%= @r2restime %>*1000);
}

</script>
