<div class="row">
  <div class="small-3 columns centerall" style="margin-top:18px; margin-bottom:4px;">
    <% if current_user.avatar.url == "" %>
      <%= image_tag("https://s3-us-west-2.amazonaws.com/apavatars/ap_generic_avatar80.png") %>
    <% else %>
      <%= image_tag current_user.avatar.url(:small) %>
    <% end %>
    <p class="acrofont"; style="margin-top:0px; margin-bottom:0px; font-size:120%; font-weight:normal;">Welcome, <%= @username %>!</p>
    Points (all-time): 1,286
    Points (this month): 412
    Points (this week): 108
    Points (today): 10

    <%= link_to "Your Stats", foyer_path, :class => "button round", :style => "margin-top:10px" %>
    <%= link_to "Edit Profile", edit_user_registration_path, :class => "button round" %>
    <%= link_to "Rules", foyer_path, :class => "button round" %>
  </div>
  <div class="small-4 columns centerall" style="margin-top:18px; margin-bottom:4px;">
    <p class="acrofont">Rooms:</p>
    <div class="roomslisttable">
      <div id="roomslist" style="margin-top:6px">
        <%= link_to "Living Room", room_familyroom_path %> - <%= @familyroomplayers.count %>/12 players<br/>
        <%= link_to "Living Room", room_familyroom_path %> - <%= @familyroomplayers.count %>/12 players<br/>
        <%= link_to "Living Room", room_familyroom_path %> - <%= @familyroomplayers.count %>/12 players<br/>
      </div>
    </div>
    <div id="roomsrefresh" class="button tiny round centerall" style="margin-top:6px">Refresh room list</div>
  </div>
  <div class="small-5 columns" style="margin-top:18px; margin-bottom:4px;">
      <p class="acrofont">High Scores</p>

  </div>

</div>
<div class="row">
  <div class="small-4 centerall"; style="margin-top:100px;">
    Online Users:<br/>
    <% @player.each do |player| %>
      <%= player.name %>(<%= player.room %><br />
    <% end %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  </div>
</div>

<%= javascript_include_tag "nongame/foyer" %>
