<div class="row">
  <div class="small-3 columns centerall" style="margin-top:18px; margin-bottom:4px;">
    <% if current_user.avatar.url == "" %>
      <%= image_tag("https://s3-us-west-2.amazonaws.com/apavatars/ap_generic_avatar80.png") %>
    <% else %>
      <%= image_tag current_user.avatar.url(:small) %>
    <% end %>
    <p class="acrofont"; style="margin-top:0px; margin-bottom:0px; font-size:120%; font-weight:normal;">Welcome, <%= @username %>!</p>
    Points (all-time): <%= @points_alltime %></br>
    Games won: <%= @gameswon %></br>
    Games played: <%= @gamesplayed %></br>
    <% if @username == "Matt" %>
      <%= button_to "reset room", { :controller => :room, :action => 'resetfamroom' }, remote: true %>
    <% end %>

    <%= link_to "Your Stats", foyer_path, :class => "button round", :style => "margin-top:10px" %>
    <%= link_to "Edit Profile", edit_user_registration_path, :class => "button round" %>
    <%= link_to "How To Play", foyer_path, :class => "button round" %>
  </br>Found a bug or have a suggestion? Email: <a href="mailto:matt@acroparty.com">matt@acroparty.com</a>
  </div>
  <div class="small-4 columns centerall" style="margin-top:18px; margin-bottom:4px;">
    <p class="acrofont">Rooms:</p>
    <div class="roomslisttable">
      <div id="roomslist" style="margin-top:6px">
        <%= link_to "Family Room", room_familyroom_path %> - <%= @familyroomplayers.count %>/12 players<br/>
      </div>
    </div>
    <% if flash[:notice] %>
      <div class="notice" style="color:red; margin-top:6px;"><%= flash[:notice] %></div>
    <% end %>
    <div id="roomsrefresh" class="button tiny round centerall" style="margin-top:6px">Refresh room list</div>
    <p class="acrofont">News:</p>
    <div class="roomslisttable text-left">
      <div id="newslist" style="margin:6px">
        <% Update.last(25).reverse_each do |news| %>
          <u><i style="font-size:80%;"><%= news.created_at.strftime("%b %d, %Y") %> - <%= news.created_at.strftime("%l:%M%P")  %>:</br></i></u>
          <%= news.news %> <i style="font-size:80%">- posted by <%= news.user.username %></i></br>
          <% if @username == "Matt" %>
            <%= link_to 'Delete', news, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <div class="centerall">- - - - -</div>
        <% end %>
      </div>
    </div>
    <% if @username == "Matt" %>
      <%= form_for Update.new, :remote => true do |f| %>
        <%= f.text_area :news, :placeholder => "Enter news here..." %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "Post News", :class => "button tiny radius centerall", :style => "margin-top:2px; margin-left:-6px" %>
      <% end %>
    <% end %>
  </div>
  <div class="small-5 columns" style="margin-top:18px; margin-bottom:4px;">
      <p class="acrofont">Latest Winners</p>
      <div class="winanswertable">
        <% Winninganswer.all.reverse.each do |winner| %>
          <li id="winnerslist" style="margin:6px;">
            <%= winner.user.username %>: <b>"<%= winner.answer %>" </b>(<i><%= winner.category %></i> - <%= winner.acroletters %> in <%= winner.roomname %>, time: <%= winner.answertime %>s)
        <% end %>
        </li>
      </div>

      <p class="acrofont">Top Players</p>
      <div class="topplayertable">
        <% User.where('username != ?', "none").order('points_alltime DESC').each do |top| %>
          <li id="winnerslist" style="margin:6px; list-style-type: decimal;">
            <%= top.username %>
            <span style="float:right; padding-right:6px;">
              <%= top.points_alltime %>
        <% end %>
        </li>
      </div>

  </div>

</div>
<div class="row">
  <div class="small-4 centerall"; style="margin-top:100px;">
    Online Users:<br/>
    <% @player.each do |player| %>
      <%= player.name %>(<%= player.room %><br />
    <% end %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  </div>
</div>

<%= javascript_include_tag "nongame/foyer" %>
