<h2 class="acrofont centerall" style="margin-bottom:20px">
  Sign in to AcroParty
</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p class="notice centerall"><%= notice %></p>
  <p class="alert centerall"><%= alert %></p>

  <div class="small-3 centerall"><%= f.label :login, "Username or Email" %>
    <%= f.text_field :login, :autofocus => true %></div>

  <div class="small-3 centerall"><%= f.label :password %>
    <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="small-2 centerall"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end %>

  <div class="large-2 centerall">
    <%= f.submit "Sign in", :class => "button middle" %></div>
<% end %>
<div class="centerall">
  <%= render "devise/shared/links" %>
</div>
